h1{text-decoration: underline; margin-bottom:10px; color:#fff;}
h3 {text-decoration: underline; margin-bottom:10px; color:#999; font-size:25px; margin-left:50px;}
body {
	font-family:Arial;
	background: url("../content/img/ns.jpg") ; background-size:100%;  

	}

.form {
	box-shadow:10px 10px 10px;
	width: 550px; 
	margin-top: 150px; 
	height: 220px;
	background:rgba(0, 0, 0, 0.35);
	padding-top:1px;
	}
#form {
	box-shadow:10px 10px 10px;
	width: 550px; 
	margin-top: 150px; 
	height:auto;
	background:rgba(0, 0, 0, 0.35);
	padding-top:1px;
	}
input[type='text'], input[type='email'], input[type='password'] {
	width: 222px; 
	border-radius: 2px;
	border: 1px solid #CCC; 
	padding: 10px; 
	color: #333; 
	font-size: 15px; 
	margin-top: 10px;
	border: 2px solid #fff; 
	border-radius: 2px; 
	}
input[type='submit'],[type='reset']{
	padding: 10px 99px 8px; 
	color:#fff; 
	background-color:blue; 
	font-size: 16px; 
	border: 2px solid #fff; 
	border-radius: 2px; 
	margin-top: 10px; 
	}
input[type='submit']:hover {background-color: #01f400; transition:0.2s; cursor:pointer;}
input[type='reset']:hover {background-color: red; transition:0.2s; cursor:pointer;}

