h1{ text-decoration: underline; margin-bottom:10px; color:#fff; }
h3 { text-decoration: underline; margin-bottom:10px; color:#999; font-size:25px; margin-left:50px; }

body {
	font-family:Arial;
	background: url("../content/img/ns.jpg") ; background-size:100%;  

}

.form {
	box-shadow:10px 10px 10px;
	width: 550px; 
	margin-top: 150px; 
	height: 220px;
	background:rgba(0, 0, 0, 0.35);
	padding-top:1px;
}

#form {
	box-shadow:10px 10px 10px;
	width: 550px; 
	margin-top: 150px; 
	height:auto;
	background:rgba(0, 0, 0, 0.35);
	padding-top:1px;
}

input[type='text'], input[type='email'], input[type='password'] {
	background:rgba(0, 0, 0, 0.3);
	width: 383px; 
	border-radius: 2px;
	border: 1px solid #CCC; 
	color: #fff; 
	font-size: 15px; 
	border: 2px solid #fff; 
	border-radius: 2px; 
}



input[type='submit'],[type='reset'] {
	padding: 10px 75px 8px; 
	color:#fff; 
	background-color:blue; 
	font-size: 16px; 
	border: 2px solid #fff; 
	border-radius: 2px; 
	margin-top: 10px; 
	margin-left:10px;
}
	
input[type='submit']:hover {background-color: #01f400; transition:0.2s; cursor:pointer;}
input[type='reset']:hover {background-color: red; transition:0.2s; cursor:pointer;}


.daftar{
	float:right;
	margin:0px auto;
	width:450px;
	height:450px;
	border:2px solid #fff;
	margin-top:30px;
	margin-right:30px;
	color:#fff
	
}

.daftar > .form-group{
	float:right;
	padding:10px;
}

.daftar > .header{
	background:none;
	background:rgba(0, 0, 0, 0.3);
	min-height:50px;
	padding:10px;
}

.daftar > .header > h6{
	margin:0px auto;
}

.input-icon{
	padding:10px;
}

.input-icon > i {
    color: #fff;
    display: block;
    position: absolute;
	margin-top:15px;
	margin-left:10px;
    z-index: 3;
    text-align: center;
}

.input-icon > .form-control{
	padding-left: 33px;
}


.header h6 { font-size:30px; padding-top:5px;}