body {
	background:url(../content/img/special.jpg) fixed center;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
 	background-size: cover; 
	
}

.container {
	margin-top:250px;
	font-size:30px;
	color:#999;
}