.hvr-sweep-to-bottom {
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:  #29c4ca;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
  color:#fff;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.hvr-sweep-to-bottomm {
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottomm:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:  red;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottomm:hover, .hvr-sweep-to-bottomm:focus, .hvr-sweep-to-bottomm:active {
  color:#fff;
}
.hvr-sweep-to-bottomm:hover:before, .hvr-sweep-to-bottomm:focus:before, .hvr-sweep-to-bottomm:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}


body {
	background:url(../content/img/1.jpg) fixed center;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
 	background-size: cover; 
}

.warning_box { 
	width:540px;
	clear:both;
	background:url(../content/img/warning.png) no-repeat left #fcfae9;
	border:1px #e9e6c7 solid;
	background-position:15px;
	padding:20px 20px 15px 60px;
	margin:0 0 10px 0;
}

.valid_box {
	width:540px;
	clear:both;
	background:url(../content/img/valid.png) no-repeat left #edfce9;
	border:1px #cceac4 solid;
	background-position:15px;
	padding:20px 20px 15px 60px;
	margin:0 0 10px 0;
}

.error_box {
	width:540px;
	clear:both;
	background:url(../content/img/error.png) no-repeat left #fce9e9;
	border:1px #eac7c7 solid;
	background-position:15px;
	padding:20px 20px 15px 60px;
	margin:0 0 10px 0;
}

.alert.alert-info {
	border: 1px solid #85c5e5;
	background: #afd9ee;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #afd9ee), color-stop(1, #d9edf7));
	background: -ms-linear-gradient(bottom, #afd9ee, #d9edf7);
	background: -moz-linear-gradient(center bottom, #afd9ee 0%, #d9edf7 100%);
	background: -o-linear-gradient(bottom, #afd9ee, #d9edf7);
	filter: progid:dximagetransform.microsoft.gradient(startColorStr='#e6e6e6', EndColorStr='#ffffff');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#d9edf7',EndColorStr='#afd9ee')";
}



.alert {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	padding: .5em 1em;
	margin-top: 1em;
	border: 1px solid #f2e187;
	background: #f7ecb5;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f7ecb5), color-stop(1, #fcf8e3));
	background: -ms-linear-gradient(bottom, #f7ecb5, #fcf8e3);
	background: -moz-linear-gradient(center bottom, #f7ecb5 0%, #fcf8e3 100%);
	background: -o-linear-gradient(bottom, #f7ecb5, #fcf8e3);
	filter: progid:dximagetransform.microsoft.gradient(startColorStr='#e6e6e6', EndColorStr='#ffffff');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fcf8e3',EndColorStr='#f7ecb5')";
 }

 .alertt .alert-infoo  {
	border: 1px solid #85c5e5;	
	background: #afd9ee;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #afd9ee), color-stop(1, #d9edf7));
	background: -ms-linear-gradient(bottom, #afd9ee, #d9edf7);
	background: -moz-linear-gradient(center bottom, #afd9ee 0%, #d9edf7 100%);
	background: -o-linear-gradient(bottom, #afd9ee, #d9edf7);
	filter: progid:dximagetransform.microsoft.gradient(startColorStr='#e6e6e6', EndColorStr='#ffffff');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#d9edf7',EndColorStr='#afd9ee')";
}



.alertt {
	width:150px;
	float:left;
	margin-left:10px;
	height:90px;
 }

 .iklan .iklan-info {
	border: 1px solid #85c5e5;
	background: #afd9ee;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #afd9ee), color-stop(1, #d9edf7));
	background: -ms-linear-gradient(bottom, #afd9ee, #d9edf7);
	background: -moz-linear-gradient(center bottom, #afd9ee 0%, #d9edf7 100%);
	background: -o-linear-gradient(bottom, #afd9ee, #d9edf7);
	filter: progid:dximagetransform.microsoft.gradient(startColorStr='#e6e6e6', EndColorStr='#ffffff');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#d9edf7',EndColorStr='#afd9ee')";
}



.iklan {
	cursor:pointer;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	padding: .5em 1em;
	margin-top: 1em;
	border: 1px dashed silver;
	background:url(../content/img/iklan2.jpg) ;
	background-size: 100% 100%;
	height:150px;
	margin-top:10px;
	margin-bottom:10px;
	filter: progid:dximagetransform.microsoft.gradient(startColorStr='#e6e6e6', EndColorStr='#ffffff');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fcf8e3',EndColorStr='#f7ecb5')";
 }

.close {
	cursor:pointer;
	float:right;
	 background:rgba(255,255,255,0.2);
	 color:#fff;
	 
}

.closeee {
	cursor:pointer;
	margin-left:10px;
	 background:rgba(255,255,255,0.2);
	 color:#fff;
	 
}

.keluar {
	cursor:pointer;
	float:right;
	 background:rgba(255,255,255,0.2);
	 color:#333;
}

.slidergg {
	margin-bottom:20px;
}

.row-fluid { 
	float:left;
}
 
#clock_a {
	float:right;
	padding:15px 0 0 0;
}

th { 
	font-size:20px; 
	margin:10px; 
	color:#fff;
}

.kolom { 
	width:450px; 
	border:2px solid rgba(255, 255, 255, 0.53); 
	margin-top:50px; 
	margin-left:100px; 
	background:rgba(255, 255, 255, 0.2);
}
.kolom a { 
	color:silver;
}

.cari { 
	margin-top:-45px; 
	margin-left:700px; 
	color:#ff;
}

.jum {
	margin-left:20px; 
	font-size: 20px; 
	color:#40f317;
}


.header img { 
	height:150px;
	width:300px;
	margin-left:15px; 
	margin-top:15px;
}

#header img { 
	margin-left:-0px; 
	margin-top:-0px;
	height:150px;
	width:980px;
}

.header {  
	width:330px; 
	height:180px; 
	background: rgba(255, 255, 255, 0.25); 
}

#header { 
	float:right; 
	width:auto; 
	height:180px; 
	background: rgba(255, 255, 255, 0.25); 
	
}

.die { padding-top:10px; }

nav .menu {
	width:auto;
}


nav { 
	box-shadow:2px 2px 2px  black; 
	background: rgba(255, 255, 255, 0.25); 
	height:70px; 
	margin:0 auto; 
}

nav .kanan { 
	float:left; 
	margin-left:10px; 
	padding:20px; 
}

nav li { 
	display:inline; 
	float:right; 
	padding:20px; 
}

nav li a { 
	padding:20px; 
	font-size:20px; 
	font-family:Comic sans MS; 
	color:#fff; 
	text-decoration:none;
	transition: 0.7s ;
	-o-transition: 0.7s ;
	-webkit-transition: 0.7s ;	
}

nav li a:hover { 
	padding:auto; 
	transition:0.2s ; 
	background: rgba(255, 255, 255, 0.25);  
	color:yellow;
	text-decoration:none;
}

td { 
	font-size:17px;  
	font-family:comic sans ms; 
	color:rgba(2, 2, 2, 0.9); 
	padding-left:5px; 
}	

h2 { 
	font-family:impact; 
	color:#fff; 
	text-decoration:none; 
	font-size:30px; 
	text-decoration:underline; 
	padding:20px; 
}

h1 { 
	font-family:impact; 
	color:#fff; 
	text-decoration:none; 
	font-size:50px; 
	text-decoration:underline; 
	padding:10px; 
	margin:5px;
}

h3  { 
	background: rgba(2, 2, 2, 0.50); 
	font-family:impact; 
	color:#fff; 
	text-decoration:none;
	font-size:35px; 
	text-decoration:underline; 
	padding:10px; 
	margin:5px;
}

h4 { 
	font-family:impact; 
	color:#fff; 
	text-decoration:none; 
	font-size:30px; 
	text-decoration:underline; 
	margin-left:20px;
}

h5 { 
	font-family:impact; 
	color:#fff; 
	text-decoration:none; 
	font-size:30px; 
	text-decoration:underline; 
	margin-left:20px; 
	margin-top:20px; 
}

.right { 	
	float:right;
	width:350px; 
	height:auto; 
	background: rgba(255, 255, 255, 0.53); 
	margin-top:25px; 
	color:#fff; 
}

.right  a { 
	color:#fff; 
}

#info  { 
	background: rgba(2, 2, 2, 0.50); 
	font-family:impact; 
	color:#fff; 
	text-decoration:none; 
	font-size:30px; 
	text-decoration:underline; 
	padding:10px; 
	margin:5px;
}

#web  { 
	background: rgba(2, 2, 2, 0.50); 
	font-family:impact; 
	padding:2px; 
	margin:5px;
}

.dua { 
	width:955px; 
	height:auto; 
	margin-left:20px;  
	background: rgba(255, 255, 255, 0.50);
} 

.shortcut { 
	text-align:center; 
}

.shortcut a { 
	background: rgba(255, 255, 255, 0.25);
	display:inline-block;
	border:1px solid #999; 
	text-align:center;
	color:#fff;
	text-decoration:none;
	margin:0px 5px;
	box-shadow:1px 1px 3px #CCC;  
}

.shortcut a:hover { 
	box-shadow:0px 0px 5px #fff; 
}

.satu { 
	width:955px; 
	height:auto; 
	background: rgba(255, 255, 255, 0.20); 
	margin-left:20px;  
	font-family:Comic sans MS;
}

.fitur { 
	width:100%; 
	height:400px; 
	background: rgba(255, 255, 255, 0.25); 
}

#fitur { 
	width:1300px; 
	height:80px; 
	background: rgba(0, 0, 0, 0.4); 
	margin:15px;   
}

.search {
	width:300px; 
	border-radius: 2px;
	border: 1px solid #CCC; 
	padding: 10px; 
	color: #fff; 
	font-size: 14px; 
	margin-top: 10px;
	margin:5px;
	background: rgba(255, 255, 255, 0.1);
}
	
input[type='text'], input[type='email'], input[type='password'] {
	width:340px; 
	border-radius: 2px;
	border: 1px solid #CCC; 
	padding: 10px; 
	color: #333; 
	font-size: 14px; 
	margin-top: 10px;
	margin:5px;
}

input[type='submit'], input[type='reset'] {
	margin:5px;
	padding: 4px 36px 8px; 
	color: #fff; 
	background: rgba(255, 255, 255, 0.5);
	font-size: 18px; 
	border: 2px solid #fff; 
	border-radius: 2px; 
	margin-top: 5px; 
	width:160px;	
}

input[type='submit']:hover { background-color: #40f317; transition:0.4s; cursor:pointer; }
input[type='reset']:hover { background-color: red; transition:0.4s; cursor:pointer; }

p { 
	font-size:18px; 
	color:red; 
}
	
.infor { 
	color:#000;  
	font-size:16px;  
	font-family:comic sans ms;  
	padding-left:5px; 
}
	
#sty {
	margin-left:50px;
	border:red solid 2px;
	width:730px;
	padding:15px;
}

#fileid {
	width:85px;
	height:20px;
}

#judul {
	font-size:25px;
	color:#06F;
	margin-bottom:5px;
}

#username {
	font-size:15px;
	color:#000;
		font-family:"Courier New", Courier, monospace;
}

#tanggal {
	font-size:15px;
	color:#000;
	font-family:"Courier New", Courier, monospace;
}

#lainnya {
	font-size:15px;
	color:#000;
	font-family:"Courier New", Courier, monospace;
}

#tlainnyaid {
	width:500px;
	height:35px;
	font-size:20px;
	font-family:"Courier New", Courier, monospace;
	height:35px;
	color:#006;
	border:#666 solid 2px;
}

#ttanggalid {
	width:500px;
	height:35px;
	font-size:20px;
	font-family:"Courier New", Courier, monospace;
	height:35px;
	color:#006;
	border:#666 solid 2px;
}

#tjudulid {
	width:500px;
	height:35px;
	font-size:20px;
	font-family:"Courier New", Courier, monospace;
	color:#006;
	border:#666 solid 2px;
}
#tusernameid {
	width:500px;
	height:35px;
	font-size:20px;
	font-family:"Courier New", Courier, monospace;
	color:#006;
	border:#666 solid 2px;
}
#one {
	font-size:18px;
	font-family:"Times New Roman", Times, serif;
	color:#00F;
}
#submit {
	width:500px;
	height:35px;
	background-color:#999;
	color:#FFF;
	border:#666 solid 2px;
}

img { 
	margin-right:10px;
	margin-left:10px; 
	margin-top:10px;
}

#new_img {	
	float:left;	
	font-size:15px;
	color:#000;
	font-family:"Courier New";	
}


.new_file {		
	font-size:20px;
	color:Blue;
	font-family:"Courier New";
	margin-top:15px;
}

.new_satu {		
	font-size:17px;
	color:#fff;
	font-family:"Courier New";
	margin-top:15px;
}

.new_dua {		
	font-size:17px;
	color:aqua;
	font-family:"Courier New";
	margin-top:8px;
}

.new_tiga {		
	font-size:15px;
	color:red;
	font-family:"Courier New";
	margin-top:8px;
}

#new_img img:hover { 
	box-shadow:0px 0px 20px #fff; 
}

.new_release  {
	height:160px;
	margin-left:50px;
	border:#fff solid 2px;
	width:730px;
}

.isi_kategori {
	background:rgba(255, 255, 255, 0.10);
	height:350px;

}
	
.kategori {
	float:left;
	height:300;
	margin-left:35px;
	border:#fff solid 2px;
	width:285px;
	margin-top:20px;
}	

#kategori_img {
	font-size:15px;
	color:#000;
	font-family:"Courier New";
	
}	

#kategori_img img {
	margin-top:0px;
	margin-left:13px;
}

.kate_img {		
	font-size:17px;
	color:#000;
	font-family:"Courier New";
	margin-top:5px;
	margin-left:12px;
}

.baru {
	background:silver;
	font-size:18px;
	color:;
}

.footer {
	margin-top:20px;
	background:rgba(255, 255, 255, 0.25);
	height:50px;
	
}

#kategori_img img:hover { 
	box-shadow:0px 0px 20px #fff; 
}

	a {text-decoration:none ;} 
	a:hover{text-decoration:underline;}

.jadwal { 
	background:rgba(255, 255, 255, 0.10);  
	padding-top:1px; 
	width:975px;
}

.judul {		
	margin-left:20px;
	font-size:20px;
	color:#fff;
	font-family:"Courier New", Courier, monospace;
	margin-top:15px;
	text-decoration:underline;
	}
.nama {		
	margin-left:20px;
	font-size:18px;
	color:#fff;
	font-family:"Courier New", Courier, monospace;
	margin-top:15px;
	}

	
		    tbody > tr:nth-child(2n+1) > td, tbody > tr:nth-child(2n+1) > th {
			background:rgba(0,0,0, 0.3);
    }
    table{
        width: 100%;
        margin: auto;
        border-collapse: collapse;
        box-shadow: darkgrey 3px;
		
    }
tr:hover {background:rgba(0,0,0, 0.3);}

.footer {
	height:40px;
	color:#fff;
	margin-top:10px;
	padding-top:20px;
	padding-left:20px;
}

@media only screen and (max-width: 1350px) {

.header img { 
	height:150px;
	width:300px;
	margin-left:15px; 
	margin-top:15px;
}

#header img { 
	margin-left:-0px; 
	margin-top:-0px;
	height:150px;
	width:900px;
}

.header {  
	width:330px; 
	height:180px; 
	background: rgba(255, 255, 255, 0.25); 
}

#header { 
	float:right; 
	width:900; 
	height:180px; 
	background: rgba(255, 255, 255, 0.25); 
	
	}
}

@media only screen and (max-width: 1265px) {

.header img { 
	height:150px;
	width:300px;
	margin-left:15px; 
	margin-top:15px;
}

#header img { 
	margin-left:-0px; 
	margin-top:-0px;
	height:150px;
	width:800px;
}

.header {  
	width:330px; 
	height:180px; 
	background: rgba(255, 255, 255, 0.25); 
}

#header { 
	float:right; 
	width:800; 
	height:180px; 
	background: rgba(255, 255, 255, 0.25); 
	
	}
}

@media only screen and (max-width: 1160px) {

.header img { 
	height:150px;
	width:300px;
	margin-left:15px; 
	margin-top:15px;
}

#header img { 
	margin-left:-0px; 
	margin-top:-0px;
	height:150px;
	width:600px;
}

.header {  
	width:330px; 
	height:180px; 
	background: rgba(255, 255, 255, 0.25); 
}

#header { 
	float:right; 
	width:600; 
	height:180px; 
	background: rgba(255, 255, 255, 0.25); 
	
	}
}

@media only screen and (max-width: 970px) {

.header img { 
	height:150px;
	width:300px;
	margin-left:15px; 
	margin-top:15px;
}

#header img { 
	margin-left:-0px; 
	margin-top:-0px;
	height:150px;
	width:350px;
}

.header {  
	width:330px; 
	height:180px; 
	background: rgba(255, 255, 255, 0.25); 
}

#header { 
	float:right; 
	width:350; 
	height:180px; 
	background: rgba(255, 255, 255, 0.25); 
	
	}
}

@media only screen and (max-width: 715px) {

.header img { 
	height:150px;
	width:250px;
	margin-left:15px; 
	margin-top:15px;
}

#header img { 
	margin-left:-0px; 
	margin-top:-0px;
	height:150px;
	width:350px;
}

.header {  
	width:280px; 
	height:180px; 
	background: rgba(255, 255, 255, 0.25); 
}

#header { 
	float:right; 
	width:350; 
	height:180px; 
	background: rgba(255, 255, 255, 0.25); 
	
	}
}

@media only screen and (max-width: 657px) {

.header img { 
	height:150px;
	width:240px;
	margin-left:15px; 
	margin-top:15px;
}

#header img { 
	margin-left:-0px; 
	margin-top:-0px;
	height:150px;
	width:270px;

}

.header {  
	width:270px; 
	height:360px; 
	background: rgba(255, 255, 255, 0.25); 
}

#header { 
	float:right; 
	width:270; 
	height:180px; 
	background: rgba(255, 255, 255, 0.25); 

	}
}

@media only screen and (max-width: 1200px) {
		nav {
		width:98%;
		height:70px;
	}
	
	nav ul li a {
		font-size: 20px;
		padding: 20px 5px;
	}
}
/*  GO FULL WIDTH AT LESS THAN 800 PIXELS */

@media only screen and (max-width: 1027px) {
		nav {
		width:98%;
		height:70px;
	}
	
	nav ul li a {
		font-size: 18px;
		padding:20px 5px;
	}
}

@media only screen and (max-width: 970px) {
		nav {
		width:98%;
		height:140px;
	}
	
	nav ul li a {
		font-size: 18px;
		padding:20px 5px;
	}
}

@media only screen and (max-width: 650px) {
		nav {
		width:98%;
		height:100px;
	}
	
	nav ul li a {
		font-size: 20px;
		padding: 20px 5px;
	}
}

@media (max-width:650px){
		nav {
		width:90%;
		height:130px;
	}
	
	nav ul li a {
		font-size: 12px;
		padding: 20px 5px;
	}

}

@media (max-width:510px){
		nav {
		width:90%;
		height:190px;
	}
	
	nav ul li a {
		font-size: 12px;
		padding: 20px 5px;
	}

}

@media (max-width:370px){
	nav {
		width:90%;
		height:365px;

	}

	nav ul li a {
		font-size: 10px;
		padding: 20px;

	}
}

.asda {
			margin-top:-10px;
}
.asda img {
	width:170px;
	height:100px;

}

#kiklan {
	width:45px;
	padding-left:10px;
	background:silver;	
}

#kiklan:hover {	
	background:red;
	box-shadow:0px 0px 10px #000; 
	transition:0.3s;
	
}