body {background:url(../../../content/img/1.jpg)fixed center;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
 	background-size: cover;}

.hvr-sweep-to-bottom {
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:  #29c4ca;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
  color:#fff;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.hvr-sweep-to-bottomm {
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottomm:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:  red;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottomm:hover, .hvr-sweep-to-bottomm:focus, .hvr-sweep-to-bottomm:active {
  color:#fff;
}
.hvr-sweep-to-bottomm:hover:before, .hvr-sweep-to-bottomm:focus:before, .hvr-sweep-to-bottomm:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}	
	
#topbar ul {display:block; float:left; font-size:12px; font-family:Georgia, "Times New Roman", Times, serif; }
#topbar ul, #topbar ul li {margin:0; padding:0; list-style:none; }
#topbar ul { padding:20px; margin-left:40px; }
#topbar ul li {float:left; margin-right:40px; }
#topbar ul li li {margin-left:0; }
#topbar ul ul li a:link, #topbar ul ul li a:visited {border:none; }
#topbar ul li a:hover, #topbar ul li.active a {color:#fff; padding:20px; }
#topbar ul li li a:link, #topbar ul li li a:visited {width:150px; float:none; margin-top:5px; padding:7px 10px; display:block;  font-size:12px; font-weight:normal; color:#FFFFFF; background:rgba(0,0,0,0.5); border-radius:10px; }
#topbar ul li li a:hover {color:silver; background:rgba(0,0,0,0.3); box-shadow:0px 0px 10px; }
#topbar ul ul {z-index:9999; position:absolute; left:-999em; height:auto; width:135px; margin-left:-20px;}
#topbar ul ul a {width:140px; }
#topbar ul li:hover ul {left:auto;}
#topbar ul li:hover {position:static;}
#topbar ul li.last {margin-right:0;} 

li .photo {
	float:left; 
	color:#fff;
}

.photo img { 
	border-radius:30px;
	border:2px solid #fff;
}
	
	
.header{  width:315px; height:165px; background: rgba(255, 255, 255, 0.25); padding-left:15px; padding-top:15px; }
#header{ float:right; width:1000px; height:180px; background: rgba(255, 255, 255, 0.25); }

.die{ padding-top:10px; }

th { width:auto; height:30px; background:red; color:#fff; font-size:17px; padding:10px; }
td { font-size:17px;  font-family:comic sans ms; color:rgba(2, 2, 2, 0.9); padding-left:5px; }	

h1 { font-family:impact; color:#fff; text-decoration:none; font-size:50px; text-decoration:underline; padding:10px; margin:5px;}
h2 { font-family:impact; color:#fff; text-decoration:none; font-size:30px; text-decoration:underline; padding:20px; border-radius:10px 10px 0px 0px; }
h3 { font-family:impact; color:#fff; text-decoration:none; font-size:30px; text-decoration:underline; padding:25px; background:rgba(0,0,0,0.9); 
margin-top:-0px; border-radius:10px 10px 0px 0px; }
h4 {padding:1px; }
nav{ width:auto; box-shadow:2px 2px 2px  black; background:rgba(255, 255, 255, 0.25); height:70px; margin:0 auto; }
nav .kanan{ float:left; margin-left:10px; padding:20px; }
nav li{ display:inline; float:right; padding:20px; }

nav li a { 
	padding:20px; 
	font-size:20px; 
	font-family:Comic sans MS; 
	color:#fff; 
	text-decoration:none;
	transition: 0.7s ;
	-o-transition: 0.7s ;
	-webkit-transition: 0.7s ;	
}

nav li a:hover { 
	padding:auto; 
	transition:0.2s ; 
	background: rgba(255, 255, 255, 0.25);  
	color:yellow;
	text-decoration:none;
}


.shortcut { text-align:center; }
.shortcut a { display:inline-block; background: rgba(255, 255, 255, 0.25); border:1px solid #999; height:15px; width:15px; text-align:center; color:#444;
text-decoration:none; padding:5px; margin:3.5px; box-shadow:1px 1px 3px #CCC; }
.shortcut a:hover { box-shadow:0px 0px 5px #555; }


.info a { display:inline-block; border:1px solid #fff; text-align:center; color:#444; width:85px; height:85px;
text-decoration:none; padding:5px; margin:3.5px; box-shadow:1px 1px 3px #CCC; }
.info a:hover { box-shadow:0px 0px 5px #555; }

#a :hover {text-decoration:underline; }
#a a { color:#fff; text-decoration:none;  }
#a { width:400px; height:auto; padding:20px;}

.list { background:rgba(255, 255, 255, 0.23); width:615px; height:100%; font-family:Comic sans MS;  }

.asd {  height:100%; float:right; }

.right {background:rgba(255, 255, 255, 0.23); width:325px; height:auto; float:right; margin-top:25px;  }

#info  { background: rgba(2, 2, 2, 0.50); font-family:impact; color:#fff; text-decoration:none; font-size:30px; text-decoration:underline; padding:10px; margin:5px;}

.container {font-family:Comic sans MS; color:#fff;}

.in  {color:#fff; margin:10px; }
 .tes a { text-decoration:none;  margin:10px;}

 .tes li {display:inline;}

 #tes a { text-decoration:none;  margin:10px;}
 #tes li {display:inline;}
#tes {width:500px;  }

.satu { 
	display:inline-block;
	text-align:center; 
	color:#444; 
	text-decoration:none; 
	float:left;
	
}

.slider {
	background:red;
	width:300px;
	height:500px;
	float:right;
	margin-top:2px;
	
	}

.episode {
	
	font-size:15px;
	padding:100px;
	background:#333;
	color:#fff;
	height:auto;
	}



.fitur { width:100%; height:400px; background: rgba(255, 255, 255, 0.25);}
.popu  { background: rgba(2, 2, 2, 0.50); font-family:impact; color:#fff; text-decoration:none; font-size:30px; text-decoration:underline; padding:10px; margin:5px;}
#fitur{ width:1300px; height:80px; background: rgba(0, 0, 0, 0.4); margin:15px;   }
#shortcut {
	text-align:center;
}

#shortcut img { margin-right:10px;
margin-left:10px; margin-top:10px;}

	#shortcut a {
 background: rgba(255, 255, 255, 0.25);
		display:inline-block;
border:1px solid #999;
		text-align:center;
		color:#fff;
		text-decoration:none;		
		margin:0px 5px;
		box-shadow:1px 1px 3px #CCC;
	}
	
	
	#shortcut a:hover {
			box-shadow:0px 0px 5px #555;
		}
			a {text-decoration:none} 
	a:hover{text-decoration:underline;}

#listanime {  margin-left:8px; margin-top:-20px; 	background: rgba(0,0,0,0.5); width:600px; border-radius:10px;}
#listanime li { list-style-type: none;   } 
#listanime a {color:#fff; margin-left:10px; }
#listanime a:hover {color:red;}


.alert.alert-info {
  border: 2px solid rgba(255,255,255,0.25);
   background:url(../../../content/img/nico.jpg);
  background-size:100% 100%; 
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#e6e6e6', EndColorStr='#ffffff');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#d9edf7',EndColorStr='#afd9ee')";
}



.alert {
   float:right;
   height:800px;
   margin-right:7px;
  border-radius: 0px;
  padding: .5em 1em ;
  margin-top: 23px;
  color:#FFF;
 }
 
 .close {
 	cursor:pointer;
	 background:rgba(255,255,255,0.2);
	 color:#fff;
 }
 
 #clock_a {

	padding:15px 0 0 0;
}