body {background:url(../../../content/img/1.jpg) fixed center;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
 	background-size: cover;
}

.hvr-sweep-to-bottom {
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:  #29c4ca;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
  color:#fff;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.hvr-sweep-to-bottomm {
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottomm:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:  red;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottomm:hover, .hvr-sweep-to-bottomm:focus, .hvr-sweep-to-bottomm:active {
  color:#fff;
}
.hvr-sweep-to-bottomm:hover:before, .hvr-sweep-to-bottomm:focus:before, .hvr-sweep-to-bottomm:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

#topbar ul {display:block; float:left; font-size:12px; font-family:Georgia, "Times New Roman", Times, serif; }
#topbar ul, #topbar ul li {margin:0; padding:0; list-style:none; }
#topbar ul { padding:20px; margin-left:40px; }
#topbar ul li {float:left; margin-right:40px; }
#topbar ul li li {margin-left:0; }
#topbar ul ul li a:link, #topbar ul ul li a:visited {border:none; }
#topbar ul li a:hover, #topbar ul li.active a {color:#fff; padding:20px; }
#topbar ul li li a:link, #topbar ul li li a:visited {width:150px; float:none; margin-top:5px; padding:7px 10px; display:block;  font-size:12px; font-weight:normal; color:#FFFFFF; background:rgba(0,0,0,0.5); border-radius:10px; }
#topbar ul li li a:hover {color:silver; background:rgba(0,0,0,0.3); box-shadow:0px 0px 10px; }
#topbar ul ul {z-index:9999; position:absolute; left:-999em; height:auto; width:135px; margin-left:-20px;}
#topbar ul ul a {width:140px; }
#topbar ul li:hover ul {left:auto;}
#topbar ul li:hover {position:static;}
#topbar ul li.last {margin-right:0;} 

li .photo {
	float:left; 
	color:#fff;
}

.photo img { 
	border-radius:30px;
	border:2px solid #fff;
}


h6 {font-size:38px; font-family:impact; text-decoration:underline; margin-top:0px; margin-left:100px; color:#fff;}
th { background:rgba(255, 255, 255, 0.53); font-size:15px; height:30px; border:1px solid rgba(255, 255, 255, 0.53);}
td {background:rgba(255, 255, 255, 0.150); color:#fff;}

.header{  width:330px; height:180px; background: rgba(255, 255, 255, 0.25); }
#header{ float:right; width:1000px; height:180px; background: rgba(255, 255, 255, 0.25); }
.header img {margin-top:15px; margin-left:15px; }

.die{ padding-top:10px; }

nav{ width:auto; box-shadow:2px 2px 2px  black; background: rgba(255, 255, 255, 0.25); height:70px; margin:0 auto; }
nav .kanan{ float:left; margin-left:10px; padding:20px; }
nav li{ display:inline; float:right; padding:20px; }

nav li a { 
	padding:20px; 
	font-size:20px; 
	font-family:Comic sans MS; 
	color:#fff; 
	text-decoration:none;
	transition: 0.7s ;
	-o-transition: 0.7s ;
	-webkit-transition: 0.7s ;	
}

nav li a:hover { 
	padding:auto; 
	transition:0.2s ; 
	background: rgba(255, 255, 255, 0.25);  
	color:yellow;
	text-decoration:none;
}

	
		b {	color:#fff; font-size:17px;	}
		a {text-decoration:none; color:#56e5fb;}
		a :hover{text-decoration:underline;}
		p { color:red; margin-left:10px; padding-bottom:10px; }
		
		h1 { font-family:impact; color:#fff; text-decoration:none; font-size:50px; text-decoration:underline; padding:10px; margin:5px;}
		h2 {color:#fff; text-decoration:underline; margin-bottom:10px;}
		

.info { text-align:center; }
.info a { background:rgba(255, 255, 255, 0.100); display:inline-block;border:1px solid rgba(255, 255, 255, 0.120); text-align:center; color:#444; text-decoration:none; padding:5px; box-shadow:1px 1px 3px #CCC; }
.info a:hover { box-shadow:0px 0px 5px #555; }
	
	    tbody > tr:nth-child(2n+1) > td, tbody > tr:nth-child(2n+1) > th {
        background:rgba(0, 0, 0, 0.3) ;
    }
    table{
        width: 100%;
        margin: auto;
        border-collapse: collapse;
        box-shadow: darkgrey 3px;
    }
tr:hover {background:rgba(0,0,0, 0.7);}


.video {
	width:70%;
	background:rgba(0, 0, 0, 0.6);
	border-radius:30px;
	height:630px;
}

.download {width:900px; border:2px solid rgba(255, 255, 255, 0.53); margin-top:-90px; margin-left:100px;}
.download a:hover{text-decoration:underline;}

.lengkap {
	background:rgba(0,0,0, 0.3);
	width:904px;
	margin-left:100px;
	
}

#lengkap {
	margin-top:2px;
	margin-left:10px;
	font-size:18px;
	color:red;
}

#lengkapp { 
	background:rgba(255, 255, 255, 0.100); 
	display:inline-block;
	border:1px solid rgba(255, 255, 255, 0.120); 
	text-align:center; 
	color:#444; 
	text-decoration:none; 
	padding:5px; 
	box-shadow:1px 1px 3px #CCC; 
	padding-top:10px;
	margin-left:10px;
	margin-top:10px;
	margin-bottom:10px;
	float:left;
	margin-right:10px;
	
}

#jumlah { color:#fff; 	background:rgba(0, 0, 0, 0.7); width:200px; float:right; padding:10px; }

#lengkapp :hover { box-shadow:0px 0px 5px #fff; }

#sinopsis { margin-bottom:10px; height:250px; padding-top:10px; font-size:18px; color:red;}