body {
	background:url(../../images/2.jpg) fixed center;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
 	background-size: cover;
	font-size:12px;
	padding:0;
	margin:0;
}

h1 { 
	font-family:impact; 
	color:#999; 
	text-decoration:none; 
	font-size:40px; 
	text-decoration:underline; 
	padding:10px; 
	margin:5px;
}

h2 { 
	font-family:impact; 
	color:#fff; 
	text-decoration:none; 
	font-size:30px; 
	text-decoration:underline; 
	padding:20px; 
}

b { margin-left:20px; }

.container { margin:0 auto; }

.contoh { 
	width:100%; 
	height:20px; 
	background: rgba(0,0,0,0.4); 
	margin-top:10px; 
	margin-bottom:10px;
}

.header { 
	width:330px; 
	height:180px; 
	background: rgba(0, 0, 0, 0.5); 
}

.header img {
	margin-left:15px; 
	margin-top:15px;
}

#header { 
	float:right; 
	width:1010px; 
	height:180px; 
	background: rgba(0, 0, 0, 0.4); 
}
	
.shortcut a.left { float:right; margin-right:10px; }
.shortcut { margin-left:10px; }
.shortcut a {
		background: rgba(0, 0, 0, 0.2);
		display:inline-block;
		border:1px solid #999;
		height:85px;
		width:85px;
		text-align:center;
		color:#fff;
		text-decoration:none;
		padding:5px;
		margin:0px 5px;
		box-shadow:1px 1px 3px #CCC;
}

.shortcut img { width:80px; height:70px; }
.shortcut a:hover { box-shadow:0px 0px 5px #555; }

.clear { clear:both; }

#one {
	font-size:20px;
	font-family:"Times New Roman", Times, serif;
	color:#00F;
}

.judul {		
	margin-left:20px;
	font-size:20px;
	color:#fff;
	font-family:"Courier New", Courier, monospace;
	margin-top:15px;
	text-decoration:underline;
}

.nama {		
	margin-left:20px;
	font-size:18px;
	color:aqua;
	font-family:"Courier New", Courier, monospace;
	margin-top:15px;
}

#tketid {	
	margin:10px;
	max-width:900px;
	max-height:150px;
	min-width:820px;
	min-height:120px;
	font-size:20px;
	font-family:"Courier New", Courier, monospace;
	color:#006;
	border:silver solid 1px;
}

input[type='text'] {
	width: 528px; 
	border-radius: 2px;
	border: 1px solid #CCC; 
	padding: 8px; 
	color: BLUE; 
	font-size: 15px; 
	margin-top: 10px;
	border: 2px solid #fff; 
	border-radius: 2px; 
	margin-left:20px;
	box-shadow:10px 10px 10px #333;
}

input[type='submit'], input[type='reset'] {
	margin:5px;
	padding: 4px 15px 4px; 
	color: #fff; 
	background-color: #9ababa; 
	font-size: 16px; 
	border: 1px solid #6faf38; 
	border-radius: 2px; 
	margin-top: 5px; 	
}

input[type='submit'] :hover { background-color: #14ba99; }
input[type='reset'] :hover { background-color: red; }

.satu { width:850px; height:auto; }
#satu { background:#ebebeb; }

.utama { margin-LEFT:300px; border:1px solid #red }

td { height:40px; font-size:15px; font-family:comic sans ms; }
th { height:40px; background:blue; font-size:15px; color:#fff; font-family:comic sans ms; }

.masukan {
	border-radius:10px;
	background:url(../../images/4.jpg) fixed center;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
 	background-size: cover;
	width:90%;
}

.jadwal { 
	background:rgba(0, 0, 0, 0.3); 
	width:1000px;
	padding-top:1px; 
	border-radius:10px;
}