body {
	background:url(../../images/2.jpg) fixed center;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
 	background-size: cover; 
	font-size:12px;
	padding:0;
	margin:0;
}

h5 {
	padding:1px;
}

h1 { 
	font-family:impact; 
	color:#999; 
	text-decoration:none; 
	font-size:50px; 
	text-decoration:underline; 
	padding:10px; 
	margin:5px;
}

h2 { 
	font-family:impact; 
	color:#fff; 
	text-decoration:none; 
	text-decoration:underline; 
	font-size:30px; 
	padding-top:20px; 
	background:rgba(0,0,0,0.7);
	width:590px;
	height:60px;
}
h3 {
	padding:1px;
}

h4 { 
	font-family:impact; 
	color:#fff; 
	text-decoration:none; 
	text-decoration:underline; 
	font-size:30px;
	padding-top:20px; 
	background:rgba(0,0,0,0.6);
	box-shadow:5px 2px 5px black;
	width:610px;
	height:60px;
}

.coba {
	background:url(../../images/4.jpg) fixed center; 
 	background-size: cover; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	margin:20px;     
}	

.contoh { 
	width:100%; 
	height:20px; 
	background: rgba(0,0,0,0.4); 
	margin-top:10px; 
	margin-bottom:10px;
}

.header {  
	width:330px; 
	height:180px; 
	background: rgba(0, 0, 0, 0.5); 
}

.header img {
	margin-left:15px; 
	margin-top:15px;
}

#header { 
	float:right; 
	width:1010px; 
	height:180px; 
	background: rgba(0, 0, 0, 0.4); 
}

.shortcut { 
	margin-left:10px; 
}

.shortcut a.left { 
	float:right; 
	margin-right:10px; 
}

.shortcut img { 
	width:80px; 
	height:70px; 
}

.shortcut a {
	background: rgba(0, 0, 0, 0.2);
	display:inline-block;
	border:1px solid #999;
	height:85px;
	width:85px;
	text-align:center;
	color:#fff;
	text-decoration:none;
	padding:5px;
	margin:0px 5px;
	box-shadow:1px 1px 3px #CCC;
}	

.shortcut a:hover {
	box-shadow:0px 0px 5px #555;
}

.clear {
	clear:both;
}

.utama {
	width:600px; 
	height:auto; 
	background: rgba(0, 0, 0, 0.4); 
	padding-left:20px; 
	padding-right:20px;  
	margin:20px;
}

.kateg { 
	background:url(../../images/4.jpg) fixed center;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
 	background-size: cover; 
	width:95%;
	margin:30px;
	box-shadow:5px 2px 5px;

}

.lap { 
	color:#fff;
	font-size:19px;
}

.kategori { 
	margin-left:20px; 
	width:53%; 
	background: rgba(0, 0, 0, 0.7); 
	padding-top:1px; 

}

.hidden { padding-top:-1600px; color:#fff; font-size:0px; }

#kategori { 
	width:97%; 
	margin-left:20px;	
	background: rgba(0, 0, 0, 0.7);   
}

.daftar { 
	padding:30px; 
	background: rgba(0, 0, 0, 0.4); 
	width:auto; 
	height:auto; 
	font-size:30px; 
	font-family:impact; 
	color:#fff; 
}

.video {
	font-size:20px; 
	color:#fff;
}

.vide {
	font-size:20px; 
	color:#fff; 
	margin-left:5px; 
	margin-top:-25px;
}

select {
	width:515px; 
	border-radius: 2px;
	border: 2px solid #fff; 
	padding: 5px; 
	color: #333; 
	font-size: 14px; 
	margin-top: 10px;
	margin:5px;
	box-shadow:10px 10px 10px;
}

input[type='file'] {
	width:250px; 
	border-radius: 2px;
	border: 2px solid #fff; 
	padding: 5px; 
	color: #fff; 
	font-size: 14px; 
	margin-top: 10px;
	margin:5px;
	background:#0055cc;
	margin-right:260px;
}
	
input[type='textt'] {
	width:640px; 
	border-radius: 2px;
	border: 2px solid #000; 
	padding: 9px; 
	color: #333; 
	font-size: 14px; 
	margin-top: 10px;
	margin:5px;
}
	
	
input[type='text'] {
	width:500px; 
	border-radius: 2px;
	border: 2px solid #fff; 
	padding: 5px; 
	color: #333; 
	font-size: 14px; 
	margin-top: 10px;
	margin:5px;
	box-shadow:10px 10px 10px;
}

input[type='submit'], input[type='reset'] {
	margin:5px;
	padding: 3px 10px 3px; 
	color: #fff; 
	background-color: #06f60f; 
	font-size: 19px; 
	border: 2px solid #fff; 
	border-radius: 2px; 
	margin-top: 5px; 
	width:90px;
}

input[type='submit']:hover { background-color: #06c60f; transition:0.4s }
input[type='reset']:hover { background-color: red; transition:0.4s }	

textarea {
	min-width:650px; 
	max-width:650px; 
	max-height:160px; 
	min-height:110px; 
	border-radius: 2px;
	border: 2px solid #000; 
	padding: 5px; 
	color: #333; 
	font-size: 14px; 
	margin-top: 10px;
	margin:5px;
}

#tampilan {  
	background:rgba(0, 0, 0, 0.6); 
	margin:50px; 
	font-size:18px;
}

th { padding:15px; }
    tbody > tr:nth-child(2n+1) > td, tbody > tr:nth-child(2n+1) > th {
        background-color: #ededed;
}

table {
        width: 100%;
        margin: auto;
        border-collapse: collapse;
        box-shadow: darkgrey 3px;
		background:rgba(255, 255, 155, 0.4);
}

tr:hover { background:#0055cc; }

thead tr {
        background-color:#0055cc;
}

