
.judul {		
	font-size:20px;
	color:#fff;
	font-family:"Courier New", Courier, monospace;
	margin-top:15px;
	}
.nama {		
	font-size:15px;
	color:#999;
	font-family:"Courier New", Courier, monospace;
	margin-top:15px;
	}
.tanggal {		
	font-size:15px;
	color:blue;
	font-family:"Courier New", Courier, monospace;
	margin-top:15px;
	}
.lainnya {		
	font-size:15px;
	color:red;
	font-family:"Courier New", Courier, monospace;
	margin-top:15px;
	}
#a { 
	margin-left:10px;
	margin-top:10px;
	float:left;	
	font-size:15px;
	color:#000;
	font-family:"Courier New", Courier, monospace;
	}
.jum {
	margin-left:50px; 
	font-size:15px; 
	font-family:comic sans ms; 
	text-decoration:underline; 
	color:blue;}
.isi {
	height:150px;
	margin-left:40px;
	border:#fff solid 2px;
	width:675px;
	}

body {
	background:url(../../images/1.jpg) fixed center;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
 	background-size: cover;
	font-size:12px;
	padding:0;
	margin:0;
	}

.header{  width:330px; height:180px; background: rgba(255, 255, 255, 0.25); }
.header img {margin-left:15px; margin-top:15px;}
#header{ float:right; width:1010px; height:180px; background: rgba(255, 255, 255, 0.25); }
.contoh { width:100%; height:20px; background: rgba(255, 255, 255, 0.25); margin-top:10px; margin-bottom:10px;}
.shortcut a.left { float:right; margin-right:10px; }
.shortcut { margin-left:10px; }
.shortcut img { width:80px; height:70px; }
	.shortcut a {
		background: rgba(255, 255, 255, 0.25);
		display:inline-block;
		border:1px solid #999;
		height:85px;
		width:85px;
		text-align:center;
		color:#fff;
		text-decoration:none;
		padding:5px;
		margin:0px 5px;
		box-shadow:1px 1px 3px #CCC;
	}	
		.shortcut a:hover {
			box-shadow:0px 10px 10px #555;
		}
		

#shortcut { margin-left:10px;   }
#shortcut img { width:80px; height:70px; margin-left:5px; }
	#shortcut a {
		background: rgba(255, 255, 255, 0.25);
		display:inline-block;
		border:1px solid #999;
		height:100px;
		width:90px;
		text-align:center;
		color:#fff;
		text-decoration:none;
		padding:5px;
		margin:0px 5px;
		box-shadow:1px 1px 3px #CCC;
	}	
		#shortcut a:hover {
			box-shadow:0px 10px 10px #555;
		}
		
		
.clear {
	clear:both;
}

h1 { font-family:impact; color:#fff; text-decoration:none; font-size:50px; text-decoration:underline; padding:10px; margin:5px;}
h2 { font-family:impact; color:#fff; text-decoration:none; font-size:30px; text-decoration:underline; padding:20px;   }
.artikel {
	background: rgba(255, 255, 255, 0.25);
	width:100%;
	height:auto;

	}

#sty {
	margin:0 auto;
	margin-top:3px;
	border:#0F0 dashed 2px;
	width:500px;
	padding:15px;
	}
#fileid {
	width:85px;
	height:20px;
	}
img { margin-right:20px; }
#judul {
	font-size:25px;
	color:#06F;
	margin-bottom:5px;
	}
#username {
	font-size:15px;
	color:#000;
	font-family:"Courier New", Courier, monospace;
	}
#tanggal
{ 
	font-size:15px;
	color:#000;
	font-family:"Courier New", Courier, monospace;
}
#lainnya
{
	
	font-size:15px;
	color:#000;
	font-family:"Courier New", Courier, monospace;

}
input[type='text'],[type='date']{
	width: 540px; 
	border-radius: 2px;
	border: 1px solid #CCC; 
	padding: 5px; 
	color: red; 
	font-size: 18px; 
	margin-top: 10px;
	border: 2px solid #fff; 
	border-radius: 2px; 

	}
#one
{
	padding-left:20px;
	font-size:20px;
	font-family:"Times New Roman", Times, serif;
	color:#FFF;
}
input[type='submit']{
	padding: 10px 30px 8px; 
	color:#fff; 
	background-color:#01f400; 
	font-size: 16px; 
	border: 2px solid #fff; 
	border-radius: 2px; 
	margin-top: 10px; 
	margin-left:20px;
	}
input[type='reset']{
	padding: 10px 30px 8px; 
	color:#fff; 
	background-color:red; 
	font-size: 16px; 
	border: 2px solid #fff; 
	border-radius: 2px; 
	margin-top: 10px; 
	}	
	
input[type='submit']:hover {background-color:red; transition:0.3s;}
input[type='reset']:hover {background-color:#01f400; transition:0.3s;}



#tambah { float:right; border:2px solid  #fff; width:780px; margin-right:400px; margin-top:40px; background:rgba(255, 255, 255, 0.15); box-shadow:50px 50px 50px; border-radius:5px; }
.tambah { float:right;  width:600px; margin-right:600px;  background:rgba(255, 255, 255, 0.1); box-shadow:10px 10px 10px 7px; border-radius:10px; }
.edit { border:2px solid blue; width:590px; margin-left:20px; margin-top:20px;  }

.aksi { padding-left:20px; margin-bottom:10px; font-size:15px; margin:20px;}


	p {font-size:25px; font-family:impact; color:#FFF; margin-left:20px; text-decoration:underline;}

.aksi a{
	padding: 5px 15px 5px; 
	color:#fff; 
	background-color:blue; 
	font-size: 16px; 
	border: 2px solid #fff; 
	border-radius: 5px; 
	margin-top: 10px; 
	}
.aksi a:hover {background-color:#01f400; transition:0.4s;}

	a {text-decoration:none;}
		a:hover {text-decoration:underline;}
		
		