body {
	background:url(../../../content/img/1.jpg) fixed center;   
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
 	background-size: cover;
}

.hvr-sweep-to-bottom {
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:  #29c4ca;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
  color:#fff;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.hvr-sweep-to-bottomm {
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottomm:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:  red;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottomm:hover, .hvr-sweep-to-bottomm:focus, .hvr-sweep-to-bottomm:active {
  color:#fff;
}
.hvr-sweep-to-bottomm:hover:before, .hvr-sweep-to-bottomm:focus:before, .hvr-sweep-to-bottomm:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

#topbar ul {display:block; float:left; font-size:12px; font-family:Georgia, "Times New Roman", Times, serif; }
#topbar ul, #topbar ul li {margin:0; padding:0; list-style:none; }
#topbar ul { padding:20px; margin-left:40px; }
#topbar ul li {float:left; margin-right:40px; }
#topbar ul li li {margin-left:0; }
#topbar ul ul li a:link, #topbar ul ul li a:visited {border:none; }
#topbar ul li a:hover, #topbar ul li.active a {color:#fff; padding:20px; }
#topbar ul li li a:link, #topbar ul li li a:visited {width:150px; float:none; margin-top:5px; padding:7px 10px; display:block;  font-size:12px; font-weight:normal; color:#FFFFFF; background:rgba(0,0,0,0.5); border-radius:10px; }
#topbar ul li li a:hover {color:silver; background:rgba(0,0,0,0.3); box-shadow:0px 0px 10px; }
#topbar ul ul {z-index:9999; position:absolute; left:-999em; height:auto; width:135px; margin-left:-20px;}
#topbar ul ul a {width:140px; }
#topbar ul li:hover ul {left:auto;}
#topbar ul li:hover {position:static;}
#topbar ul li.last {margin-right:0;} 

li .photo {
	float:left; 
	color:#fff;
}

.photo img { 
	border-radius:30px;
	border:2px solid #fff;
}

 .iklan .iklan-info {
	border: 1px solid #85c5e5;
	background: #afd9ee;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #afd9ee), color-stop(1, #d9edf7));
	background: -ms-linear-gradient(bottom, #afd9ee, #d9edf7);
	background: -moz-linear-gradient(center bottom, #afd9ee 0%, #d9edf7 100%);
	background: -o-linear-gradient(bottom, #afd9ee, #d9edf7);
	filter: progid:dximagetransform.microsoft.gradient(startColorStr='#e6e6e6', EndColorStr='#ffffff');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#d9edf7',EndColorStr='#afd9ee')";
}



.iklan {
	cursor:pointer;	
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	padding: .5em 1em;
	margin-top: 1em;
	border: 1px dashed silver;
	background:url(../../../content/img/iklan2.jpg) ;
	background-size: 100% 100%;
	height:100px;
	width:680px;
	margin-top:10px;
	margin-bottom:10px;
	filter: progid:dximagetransform.microsoft.gradient(startColorStr='#e6e6e6', EndColorStr='#ffffff');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fcf8e3',EndColorStr='#f7ecb5')";
 }

  .iklann .iklan-info {
	border: 1px solid #85c5e5;
	background: #afd9ee;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #afd9ee), color-stop(1, #d9edf7));
	background: -ms-linear-gradient(bottom, #afd9ee, #d9edf7);
	background: -moz-linear-gradient(center bottom, #afd9ee 0%, #d9edf7 100%);
	background: -o-linear-gradient(bottom, #afd9ee, #d9edf7);
	filter: progid:dximagetransform.microsoft.gradient(startColorStr='#e6e6e6', EndColorStr='#ffffff');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#d9edf7',EndColorStr='#afd9ee')";
}



.iklann {
	cursor:pointer;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	padding: .5em 1em;
	margin-top: 1em;
	border: 1px dashed silver;
	background:url(../../../content/img/iklan3.gif) ;
	background-size: 100% 100%;
	height:100px;
	width:680px;
	margin-top:10px;
	margin-bottom:10px;
	filter: progid:dximagetransform.microsoft.gradient(startColorStr='#e6e6e6', EndColorStr='#ffffff');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fcf8e3',EndColorStr='#f7ecb5')";
 }

 
  .iklannn .iklan-info {
	border: 1px solid #85c5e5;
	background: #afd9ee;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #afd9ee), color-stop(1, #d9edf7));
	background: -ms-linear-gradient(bottom, #afd9ee, #d9edf7);
	background: -moz-linear-gradient(center bottom, #afd9ee 0%, #d9edf7 100%);
	background: -o-linear-gradient(bottom, #afd9ee, #d9edf7);
	filter: progid:dximagetransform.microsoft.gradient(startColorStr='#e6e6e6', EndColorStr='#ffffff');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#d9edf7',EndColorStr='#afd9ee')";
}



.iklannn {
	cursor:pointer;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	padding: .5em 1em;
	margin-top: 1em;
	border: 1px dashed silver;
	background:url(../../../content/img/iklan4.gif) ;
	background-size: 100% 100%;
	height:100px;
	width:680px;
	margin-top:10px;
	margin-bottom:10px;
	filter: progid:dximagetransform.microsoft.gradient(startColorStr='#e6e6e6', EndColorStr='#ffffff');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fcf8e3',EndColorStr='#f7ecb5')";
 }

 
.close {
	cursor:pointer;
	float:right;
	 background:rgba(255,255,255,0.2);
	 color:#fff;
	 
}


p {	color:#fff;	}
a {	text-decoration:none	} 
a:hover{	text-decoration:underline;	}	

.komen { 
	color:red; 
	margin-left:25px; 
	font-size:18px;
}

#komentar {
	float:right; 	
	background: #313131;
	box-shadow: inset 0 0 150px rgba(0, 0, 0, 0.7);
	width:610px; 

}

.komentar {	
	background:rgba(255, 255, 255, 0.10); 
	width:720px; 
}

h1 { font-family:impact; color:#fff; text-decoration:none; font-size:50px; text-decoration:underline; padding:10px; margin:5px;}

.header{  
	width:330px; 
	height:180px; 
	background: rgba(255, 255, 255, 0.25); 
}

#header{ 
	float:right; 
	width:1000px; 
	height:180px; 
	background: rgba(255, 255, 255, 0.25); 
}

.header img {
	margin-top:15px; 
	margin-left:15px;
}

.die{
	padding-top:10px;
}

nav{ width:auto; box-shadow:2px 2px 2px  black; background: rgba(255, 255, 255, 0.25); height:70px; margin:0 auto; }
nav .kanan{ float:left; margin-left:10px; padding:20px; }
nav li{ display:inline; float:right; padding:20px; }

nav li a { 
	padding:20px; 
	font-size:20px; 
	font-family:Comic sans MS; 
	color:#fff; 
	text-decoration:none;
	transition: 0.7s ;
	-o-transition: 0.7s ;
	-webkit-transition: 0.7s ;	
}

nav li a:hover { 
	padding:auto; 
	transition:0.2s ; 
	background: rgba(255, 255, 255, 0.25);  
	color:yellow;
	text-decoration:none;
}


table {padding-top:10px; }

#sty {
	margin:0 auto;
	margin-top:3px;
	border:#fff solid  2px;
	width:500px;
	padding:15px;
}dashed

#fileid {
	width:85px;
	height:20px;
}

img {	margin-right:20px;	}

#nameid {
	font-size:18px;
	color:yellow;
	font-family:"Comic Sans MS", cursive;
	margin-bottom:5px;
}

#emailid {
	font-size:18px;
	color:#06F;
	font-family:"Comic Sans MS", cursive;
	margin-bottom:5px;
}

#msgid {
	font-size:20px;
	color:#efce53;
	font-family:"Courier New", Courier, monospace;
	margin-bottom:5px;
}

#tnameid {
	width:600px;
	font-size:25px;
	font-family:"Courier New", Courier, monospace;
	height:35px;
	color:red;
	border:rgba(255, 255, 255, 0.53) solid 2px;
}

#temailid {
	width:600px;
	height:35px;
	font-size:20px;
	font-family:"Courier New", Courier, monospace;
	color:red;
	border:rgba(255, 255, 255, 0.53) solid 2px;
}

#tmessageid {
	background:rgba(255, 255, 255, 0.10);
	max-width:500px;
	max-height:300px;
	min-width:600px;
	min-height:200px;
	font-size:20px;
	font-family:"Courier New", Courier, monospace;
	color:#efce53;
	border:rgba(255, 255, 255, 0.53) solid 2px;
}

#one {
	font-size:18px;
	font-family:"Times New Roman", Times, serif;
	color:#00F;
}

input[type='submit'],[type='reset'] {
	margin:5px;
	padding: 3px 13px 3px; 
	color: blue; font-size:17px; 
}

input[type='reset']:hover { background-color: red; transition:0.4s; color:#fff; cursor:pointer; }
input[type='submit']:hover { background-color:#40f317; transition:0.4s; color:#fff; cursor:pointer; }
input[type='text'] { background:rgba(255, 255, 255, 0.10); }

.scroll {	
	float:right;
	box-shadow:10px rgba(10);
	overflow-y:scroll;
	padding:10px;
	height:500px;
	border-radius:10px;
	width:600px;
	margin:0 auto;
	margin-bottom:50px;
}


.col{
	display: block;
	float:left;
	margin: 1% 0 1% 0;
	background: #313131;
	box-shadow: inset 0 0 150px rgba(0, 0, 0, 0.7);
}
.col:first-child{
	margin-left:0;
}	
.span_2_of_3 {
	width: 61.1%;
	padding: 1.5%;
	margin-right: 3.7%;
}
.span_1_of_3 {
	width: 29.2%;
	padding:1.5%; 
}
.span_2_of_3  h3,
.span_1_of_3  h3 {
	color:#fff;
	margin-bottom:0.5em;
	font-size:1.5em;
	line-height: 1.2;
	font-weight : normal;
	margin-top: 0px;
	letter-spacing: -1px;
}
.contact-form{
	position:relative;
	padding-bottom:30px;
}
.contact-form div{
	padding:5px 0;
}
.contact-form span{
	display:block;
	font-size:0.8125em;
	color: #999;
	padding-bottom:5px;
}
.contact-form input[type="text"],.contact-form textarea{
	padding:8px;
	display:block;
	width:98%;
	background:#2C2C2C;
	border: none;
	outline:none;
	color:#999;
	font-size:0.8125em;
	font-family:Arial, Helvetica, sans-serif;
	box-shadow: inset 0px 0px 3px #706F6F;
	-webkit-box-shadow: inset 0px 0px 3px #706F6F;
	-moz-box-shadow: inset 0px 0px 3px #706F6;
	-o-box-shadow: inset 0px 0px 3px #706F6F;
	-webkit-appearance:none;
}
.contact-form textarea{
	resize:none;
	height:120px;		
}
.contact-form input[type="submit"]{
	padding:7px 20px;
	color:#FFF;
	cursor:pointer;
	background:#49BB52 url(../images/large-button-overlay.png);
	border: 1px solid rgba(0, 0, 0, 0.25);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.50);
	-webkit-border-radius: 5px;
    border-radius:2px;
    font-family:Arial, Helvetica, sans-serif;
    position:absolute;
    right:0;
}
.contact-form input[type="submit"]:hover{
	background-color:#35A23E;
}
.company_address{
	padding-top:26px;
}
.company_address p span{
	text-decoration:underline;
	cursor:pointer;
}
.company_address p span:hover{
	text-decoration:none;	
}
.map{
	margin-bottom:15px;
}
/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}	
}
/*  GO FULL WIDTH AT LESS THAN 800 PIXELS */

@media only screen and (max-width: 800px) {
	.wrap{
		width:95%;
	}
	.span_2_of_3 {
		width:94%;
		padding:3%; 
	}
	.col{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:94%;
		padding:3%; 
	}
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
@media only screen and (max-width: 640px) and (min-width: 480px) {
	.wrap{
		width:95%;
	}
	.span_2_of_3 {
		width:94%;
		padding:3%; 
	}
	.col{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:94%;
		padding:3%; 
	}
   
   .contact-form input[type="text"],.contact-form textarea{
		width:97%;
	}
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
	.span_2_of_3 {
		width:90%;
		padding:5%; 
	}
	.col { 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:90%;
		padding:5%; 
	}
	.contact-form input[type="text"],.contact-form textarea{
		width:92%;
	}
}
/*--404--*/
.page-not-found {
	padding: 30px 0;
}
.page-not-found h1 {
	font-size: 15em;
	color:#999;
	text-align: center;
} 
/*--responsive design--*/
@media (max-width:1366px){
	.wrap{
		width:90%;
	}
}
@media (max-width:1280px){
	.wrap{
		width:90%;
	}
}
@media (max-width:1024px){
	.wrap{
		width:90%;
	}
	.page-no {
		padding-top:0px;
		width: 27%;
	}
	h5.head {
		font-size: 1em;
	}
	.span_3_of_1 p {
		font-size: 11px;
	}
}
@media (max-width:800px){
	.wrap{
		width:90%;
	}
	.page-no {
		padding-top:0px;
		width: 27%;
	}
	h5.head {
		font-size: 1em;
	}
	.span_3_of_1 p {
		font-size: 11px;
	}
	.top-nav ul li a {
		font-size:13px;
		padding:33px 15px;
	}
	.span_1_of_2 {
		width:95%;
	}
	.rightsidebar {
		float:none;
	}
	.span_3_of_1 {
		width:95%;
	}
}
@media (max-width:640px){
	.wrap{
		width:90%;
	}
	.page-no {
		padding-top:0px;
		width: 45%;
	}
	h5.head {
		font-size: 1em;
	}
	.span_3_of_1 p {
		font-size: 11px;
	}
	.top-nav ul li a {
		font-size:13px;
		padding: 25px 12px;
	}
	.span_1_of_2 {
		width:95%;
	}
	.rightsidebar {
		float:none;
	}
	.span_3_of_1 {
		width:95%;
	}
	.logo {
		width: 35%;
	}
	p.title {
		margin-top: 29%;
	}
	.span_2_of_3 h3, .span_1_of_3 h3 {
		font-size: 1.3em;
	}
	.span_3_of_2 h3 {
		font-size: 1.2em;
	}
	.single-cart div {
		margin-right: 15px;
	}
	.links ul li a {
		padding-left: 4px;
	}
	.comments-area {
		margin-top: 30px;
	}
	.thumbnail a {
		width:30%;
	}
	.post-list {
		margin-bottom: 5%;
	}
	.heading h3 {
		font-size:18px;
	}
}
@media (max-width:480px){
	.wrap{
		width:90%;
	}
	.page-no {
		padding-top:0px;
		width: 45%;
	}
	h5.head {
		font-size: 1em;
	}
	.span_3_of_1 p {
		font-size: 11px;
	}
	.top-nav ul li a {
		font-size: 12px;
		padding: 20px 5px;
	}
	.span_1_of_2 {
		width:95%;
	}
	.rightsidebar {
		float:none;
	}
	.span_3_of_1 {
		width:95%;
	}
	.logo {
		width: 35%;
	}
	p.title {
		margin-top:35%;
	}
	.span_2_of_3 h3, .span_1_of_3 h3 {
		font-size: 1.3em;
	}
	.span_3_of_2 h3 {
		font-size:0.9em;
	}
	.single-cart div {
		margin-right:0px;
	}
	.links ul li a {
		padding-left: 4px;
	}
	.comments-area {
		margin-top: 30px;
	}
	.thumbnail a {
		width:30%;
	}
	.post-list {
		margin-bottom: 5%;
	}
	.heading h3 {
		font-size:18px;
	}
	.search-bar input[type="text"] {
		width: 165px;
	}
	.follow_icon {
		margin-top: 5%;
	}
	span.brand {
		font-size: 13px;		
	}
	span.code {
		font-size: 13px;
	}
	.prod-stock-2 {
		font-size: 13px;
	}
	span.text {
		font-size: 18px;
	}
	span.price-new {
		font-size: 18px;
	}
}
@media (max-width:320px){
	.wrap{
		width:90%;
	}
	.page-no {
		padding-top:0px;
		width: 45%;
	}
	h5.head {
		font-size: 1em;
	}
	.span_3_of_1 p {
		font-size: 11px;
	}
	.top-nav ul li a {
		font-size: 10px;
		padding: 10px 1px;
	}
	.span_1_of_2 {
		width:95%;
	}
	.rightsidebar {
		float:none;
	}
	.span_3_of_1 {
		width:95%;
	}
	.logo {
		width: 35%;
	}
	p.title {
		margin-top:48%;
	}
	.span_2_of_3 h3, .span_1_of_3 h3 {
		font-size: 1.3em;
	}
	.span_3_of_2 h3 {
		font-size:0.9em;
	}
	.single-cart div {
		margin-right:0px;
	}
	.links ul li a {
		padding-left: 4px;
	}
	.comments-area {
		margin-top: 30px;
	}
	.thumbnail a {
		width:30%;
	}
	.post-list {
		margin-bottom: 5%;
	}
	.heading h3 {
		font-size:18px;
	}
	.search-bar input[type="text"] {
		width: 165px;
	}
	.follow_icon {
		margin-top: 5%;
	}
	span.brand {
		font-size: 13px;		
	}
	span.code {
		font-size: 13px;
	}
	.prod-stock-2 {
		font-size: 13px;
	}
	span.text {
		font-size: 18px;
	}
	span.price-new {
		font-size: 18px;
	}
	.price-old {
		font-size: 13px;
		margin-right: 10px;
	}
}
