h2 { 
	font-family:impact; 
	color:#fff; 
	text-decoration:none; 
	font-size:30px; 
	text-decoration:underline; 
	padding:20px; 
}

.jum { 
	margin-left:20px; 
	font-size: 20px; 
	color:#FFF;
}

.aksi { 
	padding-left:20px;  
	font-size:15px;
}

.contoh { 
	width:100%; 
	height:20px; 
	background: rgba(0,0,0,0.4); 
	margin-top:10px; 
	margin-bottom:10px;
}

p {
	font-size:25px; 
	font-family:impact; 
	color:blue; 
	margin-left:20px; 
	text-decoration:underline;
}

.aksi a {
	text-decoration: none;
	padding: 5px 15px 5px; 
	color:#fff; 
	background-color:blue; 
	font-size: 16px; 
	border: 2px solid #fff; 
	border-radius: 5px; 
	margin-top: 10px; 
	}
	
.aksi a:hover { background-color: #80c269; text-decoration: underline; }

body {
	background:url(../../images/2.jpg) fixed center; 
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
 	background-size: cover;	
	font-size:12px;
	padding:0;
	margin:0;
}

.container { margin:0 auto; }

.header{ 
	width:330px; 
	height:180px; 
	background: rgba(0, 0, 0, 0.4); 
}

.header img { 
	margin-left:15px; 
	margin-top:15px; 
}

#header { 
	float:right; 
	width:1010px; 
	height:180px; 
	background: rgba(0, 0, 0, 0.5); 
}


.shortcut a.left { float:right; margin-right:10px; }
.shortcut { margin-left:10px; }
.shortcut img { width:80px; height:70px; }

.shortcut a {
		background: rgba(0, 0, 0, 0.2);
		display:inline-block;
		border:1px solid #999;
		height:85px;
		width:85px;
		text-align:center;
		color:#fff;
		text-decoration:none;
		padding:5px;
		margin:0px 5px;
		box-shadow:1px 1px 3px #CCC;
}	

.shortcut a:hover { box-shadow:0px 0px 5px #555; }

.clear { clear:both; }

th {
	font-size:15px;
	padding:10px;
	background:#333;
	color:#fff;
}

td {
	font-size:15px;	
	border:1px solid #444;		
}	

.aa { 
	padding:5px; 
	width:100% auto; 
	height:55px; 
	background:#333; 
	color:#fff;
}	

.kom { 
	float:right;	
	width:1020px; 
	height:270px; 
	background:rgba(0, 0, 0, 0.2);
	margin-right:160px; 
	margin-top:40px;
	box-shadow:10px 5px 10px;
	border-radius:10px;
}