.contoh { 
	width:100%; 
	height:20px; 
	background: rgba(0,0,0,0.4); 
	margin-top:10px; 
	margin-bottom:10px;
}

.admin {
	font-size:19px;
	margin-left:10px;
	}

.artikel {
	background: rgba(0, 0, 0, 0.4);
	width:100%;
	height:auto;
	}
	
.scroll {
	margin-left:50px;
	margin-top:50px;
	background:url(../../images/5.jpg) fixed center; 
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
 	background-size: cover;	
	width:900px;
	border-radius:10px;
}

#sty {
	margin-left:20px;
	margin-top:3px;
	border:#fff solid 2px;
	width:700px;
	padding:15px;
}

#fileid {
	width:85px;
	height:20px;
}

#nameid {
	color:Blue;
	font-size:18px;
	font-family:"Comic Sans MS", cursive;
	margin-bottom:5px;
	
}

#msgid {
	font-size:20px;
	color:red;
	font-family:"Courier New", Courier, monospace;
	margin-bottom:5px;
}

#emailid {
	font-size:20px;
	color:#fff;
	font-family:"Courier New", Courier, monospace;
	margin-bottom:5px;
}

#tnameid {
	width:500px;
	font-size:20px;
	font-family:"Courier New", Courier, monospace;
	height:35px;
	color:blue;
	border:#666 solid 2px;
}

#temailid {
	width:500px;
	height:35px;
	font-size:20px;
	font-family:"Courier New";
	color:#006;
	border:#666 solid 2px;
}

#tmessageid {
	max-width:910px;
	min-width:900px;
	max-height:110px;
	min-height:100px;
	font-size:20px;
	font-family:"Courier New", Courier, monospace;
	color:red;
	border:#666 solid 2px;
}

#one {
	font-size:20px;
	font-family:"Times New Roman", Times, serif;
	color:#FFF;
}

textarea {
	border-radius:10px;
	max-width:890px;
	min-width:880px;
	max-height:100px;
	min-height:100px;
	font-size:20px;
	font-family:"Courier New", Courier, monospace;
	color:red;
	margin-left:110px;
	background: rgba(0, 0, 0, 0.2);
	border: 2px solid rgba(0, 0, 0, 0.1); 
}

input[type='text'] {
		border-radius:10px;
		width:200px;
		padding: 8px 10px 8px;
		color:blue;
		background: rgba(0, 0, 0, 0.2);
		border: 2px solid #999; 
		font-size:17px;
}	

input[type='submit'] {
	padding: 4px 14px 4px; 
	color:#fff; 
	background-color:#01f400; 
	font-size: 15px; 
	border: 2px solid #fff; 
	border-radius: 2px; 
	margin-top: 10px;
	margin-left:110px;	
	}
input[type='reset'] {
	padding: 4px 14px 4px; 
	color:#fff; 
	background-color:red; 
	font-size: 15px; 
	border: 2px solid #fff; 
	border-radius: 2px; 
	margin-top: 10px; 
	margin-left:10px;
	}	
	
input[type='submit']:hover { background-color:red; transition:0.3s; }
input[type='reset']:hover { background-color:#01f400; transition:0.3s; }



