body {
	background:url(../../images/2.jpg) fixed center; 
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
 	background-size: cover;	
	font-size:12px;
	padding:0;
	margin:0;
}

.aksi { 
	margin-left:50px;  
	font-size:15px; 
}

p {
	font-size:25px; 
	font-family:impact; 
	color:blue; 
	margin-left:20px; 
	text-decoration:underline;
}

.aksi a { text-decoration: none; }
.aksi a:hover { text-decoration: underline; }

#one {
	font-size:18px;
	font-family:"Times New Roman", Times, serif;
	color:#FFF;
}

#two {
	font-size:18px;
	font-family:"Times New Roman", Times, serif;
	color:#00F;
}

#two a { text-decoration: none; }
#two a:hover{ text-decoration: underline; }

a  {text-decoration: none; }
a:hover{ text-decoration: underline; }

h1 { 
	font-family:impact; 
	color:#fff; 
	text-decoration:none; 
	font-size:50px; 
	text-decoration:underline; 
	padding:10px; 
	margin:5px;
}

h2 { 
	font-family:impact; 
	color:#fff; 
	text-decoration:none; 
	font-size:30px; 
	text-decoration:underline; 
	padding:20px; 
}

.container { margin:0 auto; }

.contoh { 
	width:100%; 
	height:20px; 
	background: rgba(0,0,0,0.4); 
	margin-top:10px; 
	margin-bottom:10px;
}

.header {
	width:330px; 
	height:180px; 
	background: rgba(0, 0, 0, 0.5); 
}

.header img { margin-left:15px; margin-top:15px; }

#header { 
	float:right; 
	width:1010px; 
	height:180px; 
	background: rgba(0, 0, 0, 0.4); 
}

.shortcut a.left { float:right; margin-right:10px; }
.shortcut { margin-left:10px; }
.shortcut img { width:80px; height:70px; }

.shortcut a {
		background: rgba(0, 0, 0, 0.2);
		display:inline-block;
		border:1px solid #999;
		height:85px;
		width:85px;
		text-align:center;
		color:#fff;
		text-decoration:none;
		padding:5px;
		margin:0px 5px;
		box-shadow:1px 1px 3px #CCC;
}	
.shortcut a:hover { box-shadow:0px 0px 5px #555; }

.clear { clear:both; }

#tketid {
	background: rgba(0, 0, 0, 0.1);
	margin:10px;
	max-width:810px;
	max-height:150px;
	min-width:800px;
	min-height:150px;
	font-size:20px;
	font-family:"Courier New", Courier, monospace;
	color:#fff;
	border:rgba(0, 0, 0, 0.1) solid 2px;
	border-radius:10px;
}

input[type='submit'], input[type='reset'] {
	margin:5px;
	padding: 8px 26px 8px; 
	color: #fff; 
	background-color:blue; 
	font-size: 16px; 
	border: 2px solid #fff; 
	border-radius: 2px; 
	margin-top: 5px; 
	width:110px;
}

input[type='submit']:hover { transition:0.4s; background-color: #14ba99; }
input[type='reset']:hover { transition:0.4s; background-color: red; }

#satu { 
	box-shadow:10px 10px 10px; 
	width:850px; 
	margin-left:30px; 
	border-radius:10px; 
}

.satu { 
	margin:10px; 
	box-shadow:10px 15px 10px ; 
	width:1000px; 
	margin-left:100px;
}

b { 
	margin-left:10px; 
	color:#000; 
	font-size:18px; 
}

.utama { background: rgba(0, 0, 0, 0.2); }

th { padding:10px; }
    tbody > tr:nth-child(2n+1) > td, tbody > tr:nth-child(2n+1) > th {
        background-color: #ededed;
    }
    table{
        width: 100%;
        margin: auto;
        border-collapse: collapse;
        box-shadow: darkgrey 3px;
		background:rgba(255, 255, 155, 0.4);
	}
tr:hover {background:#0055cc;}

thead tr {
        background-color:#0055cc;
    }