body {
	background:url(../../../content/img/1.jpg) fixed center;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
 	background-size: cover; 	
	margin-top:-20px;
}

.hvr-sweep-to-bottom {
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:  #29c4ca;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
  color:#fff;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.hvr-sweep-to-bottomm {
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottomm:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:  red;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottomm:hover, .hvr-sweep-to-bottomm:focus, .hvr-sweep-to-bottomm:active {
  color:#fff;
}
.hvr-sweep-to-bottomm:hover:before, .hvr-sweep-to-bottomm:focus:before, .hvr-sweep-to-bottomm:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

#header img { margin-left:-0px; margin-top:-0px;}
#topbar ul {display:block; float:left; font-size:12px; font-family:Georgia, "Times New Roman", Times, serif; }
#topbar ul, #topbar ul li {margin:0; padding:0; list-style:none; }
#topbar ul { padding:20px; margin-left:40px; }
#topbar ul li {float:left; margin-right:40px; }
#topbar ul li li {margin-left:0; }
#topbar ul ul li a:link, #topbar ul ul li a:visited {border:none; }
#topbar ul li a:hover, #topbar ul li.active a {color:#fff;  padding:20px; }
#topbar ul li li a:link, #topbar ul li li a:visited {width:150px; float:none; margin-top:5px; padding:7px 10px; display:block;  font-size:12px; font-weight:normal; color:#FFFFFF; background:rgba(0,0,0,0.5); border-radius:10px; }
#topbar ul li li a:hover {color:silver; background:rgba(0,0,0,0.3); box-shadow:0px 0px 10px; }
#topbar ul ul {z-index:9999; position:absolute; left:-999em; height:auto; width:135px; margin-left:-20px; }
#topbar ul ul a {width:140px; }
#topbar ul li:hover ul {left:auto; }
#topbar ul li:hover {position:static; }
#topbar ul li.last {margin-right:0; } 

li .photo {
	float:left; 
	color:#fff;
}

.photo img { 
	border-radius:30px;
	border:2px solid #fff;
}

nav { 
	width:auto; 

	background: rgba(255, 255, 255, 0.1); 
	height:70px; 
	margin:0 auto; 
}

nav .kanan { 
	float:left; 
	margin-left:10px; 
	padding:20px; 
}

nav li {
	display:inline; 
	float:right; 
	padding:20px; 
}

nav li a { 
	padding:20px; 
	font-size:20px; 
	font-family:Comic sans MS; 
	color:#fff; 
	text-decoration:none;
	transition: 0.7s ;
	-o-transition: 0.7s ;
	-webkit-transition: 0.7s ;	
}

nav li a:hover { 
	padding:auto; 
	transition:0.2s ; 
	background: rgba(255, 255, 255, 0.25);  
	color:yellow;
	text-decoration:none;
}

.p_all {
	background: rgba(255, 255, 255, 0.1);  
	color:#fff;
	padding:15px;
}

#p_all {
	width:500px;
	padding:15px;
	height:auto;
	box-shadow:0px 0px 10px black;
	
}

#p_all img { 
	border-radius:10px;
	border:2px solid #fff;
	box-shadow:0px 0px 10px black;
}

#p_all img:hover {
	box-shadow:0px 0px 10px;
}

.change {
	width:380px;
	height:310px;
	padding:15px;
	margin-top:15px;
	box-shadow:0px 0px 10px black;
	float:right;
	margin-right:50px;
}

.ganti {
	margin-top:10px;
	margin-left:2px;
}

.ganti a {
	color:#fff;
	text-decoration:none;
}

.ganti a:hover {
	text-decoration:underline;
	color: #40f317;
	font-size:17px;
}

.user {
	margin-left:5px;
	font-size:18px;
	color:#fff;
	padding-bottom:5px;
	padding-top:10px;
}

input[type='text'], input[type='email'], input[type='password'] {
	width:365px; 
	border-radius: 2px;
	border: 1px solid #CCC; 
	padding: 10px; 
	color: #333; 
	font-size: 14px; 
	margin-top: 10px;
	margin:5px;
}

input[type='submit'], input[type='reset']{
	margin:5px;
	padding: 4px 36px 8px; 
	color: #fff; 
	background: rgba(255, 255, 255, 0.5);
	font-size: 18px; 
	border: 2px solid #fff; 
	border-radius: 2px; 
	margin-top: 5px; 
	width:175px;	
}

input[type='submit']:hover { background-color: #40f317; transition:0.4s; cursor:pointer; }
input[type='reset']:hover { background-color: red; transition:0.4s; cursor:pointer; }