.contoh { width:100%; height:20px; background: rgba(0,0,0,0.4); margin-top:10px; margin-bottom:10px;}

h1 { font-family:impact; color:#fff; text-decoration:none; font-size:50px; text-decoration:underline; padding:10px; margin:5px;}
h2 {margin-left:20px; font-size:30px; color:#fff; text-decoration:underline; }

body {
	background:url(../images/2017.jpg) fixed center;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
 	background-size: cover;	
	font-size:12px;
	padding:0;
	margin:0;
}


.container {
	margin:0 auto;
}

.header{  width:330px; height:180px; background: rgba(0, 0, 0, 0.5); }
.header img {margin-left:15px; margin-top:15px;}
#header{ float:right; width:1010px; height:180px; background: rgba(0, 0, 0, 0.4); }
	
.shortcut a.left { float:right; margin-right:10px; }
.shortcut { margin-left:10px; }
.shortcut a {
		background: rgba(0, 0, 0, 0.2);
		display:inline-block;
		border:1px solid #999;
		height:85px;
		width:85px;
		text-align:center;
		color:#fff;
		text-decoration:none;
		padding:5px;
		margin:0px 5px;
		box-shadow:1px 1px 3px #CCC;
	}
.hal {margin-left:-1000px;}
.shortcut img { width:80px; height:70px; }
.shortcut a:hover { box-shadow:0px 0px 5px #555; }

.clear {
	clear:both;
}


	a {text-decoration:none;}
	a:hover {text-decoration:underline;}
		
.satu { background:transparats ;  width:900px; height:240px;	 box-shadow:12px 12px 100px  black; margin-top:-20px; margin-left:50px; color:#fff; }
#dua { height:25px; padding:10px; box-shadow:10px 10px 50px black; margin-left:10px; font-size:20px;  background:rgba(0, 0, 0, 0.3); color:#fff; margin-top:5px; width:1300px; }
.isi {font-size:25px; margin-left:10px;  }

.special { background:rgba(0, 0, 0, 0.3); margin:20px; border-radius:50px;}


.judul { margin-left:50px; font-size:20px; color:#fff; padding-top:10px;}

.gambar { margin-left:50px; font-size:20px; color:#fff;}

.file { margin-left:50px; font-size:20px; color:#fff;}


	input[type='file'] {
	width:210px; 
	border-radius: 10px;
	border: 2px solid #fff; 
	padding: 5px; 
	color: #fff; 
	font-size: 14px; 
	margin-top: 10px;
	margin:5px;
	background:#0055cc;
	margin-right:260px;
	margin-left:50px;
	}
input[type='text']{
	width: 390px; 
	padding: 9px; 
	color: #fff; 
	font-size: 15px; 
	border: 2px solid #fff; 
	border-radius: 10px; 
	margin-bottom:5px;
	margin-left:50px;
	background: rgba(0, 0, 0, 0.3);
	}
	input[type='submit']{
	padding: 3px 20px 3px; 
	color:#fff; 
	background-color:#01f400; 
	font-size: 16px; 
	border: 2px solid #fff; 
	border-radius: 2px; 
	margin-top: 10px; 
	margin-left:55px;
	}
input[type='reset']{
	padding: 3px 20px 3px; 
	color:#fff; 
	background-color:red; 
	font-size: 16px; 
	border: 2px solid #fff; 
	border-radius: 2px; 
	margin-top: 10px; 
	}	
	
input[type='submit']:hover {background-color:red; transition:0.3s;}
input[type='reset']:hover {background-color:#01f400; transition:0.3s;}


.aksi {
	background:url(../images/2017.jpg) fixed center;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
 	background-size: cover;	
	margin-LEFT:50px;
	font-size:20px;
	margin-bottom:5px;
}

.aksi a {
	color:red;
}

#aksi a {
	color:#fff;
}